<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-card>
    <ion-card-header>
        <ion-card-title>About the Creator</ion-card-title>
    </ion-card-header>




    <ion-item>
      <ion-icon name="Person" slot="start"></ion-icon>
      <ion-label>Peter Tran</ion-label>
    </ion-item>

    <ion-item>
        <ion-icon name="briefcase" slot="start"></ion-icon>
        <ion-label>0865729</ion-label>
    </ion-item>




  </ion-card>




</ion-content>
